<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FsXaml.Wpf" version="2.2.0" targetFramework="net452" />
  <package id="FsXaml.Wpf.Blend" version="2.2.0" targetFramework="net452" />
  <package id="Gjallarhorn" version="0.0.8-beta" targetFramework="net452" />
  <package id="Gjallarhorn.Bindable" version="0.0.8-beta" targetFramework="net452" />
  <package id="Gjallarhorn.Bindable.Wpf" version="0.0.8-beta" targetFramework="net452" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net452" />
</packages>