<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net452" />
  <package id="FsXaml.Wpf" version="3.1.6" targetFramework="net452" />
  <package id="FsXaml.Wpf.Blend" version="3.1.6" targetFramework="net452" />
  <package id="Gjallarhorn" version="1.1.0" targetFramework="net452" />
  <package id="Gjallarhorn.Bindable" version="1.0.0-beta5" targetFramework="net452" />
  <package id="Gjallarhorn.Bindable.Wpf" version="1.0.0-beta5" targetFramework="net452" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net452" />
</packages>