<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.1.18" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Gjallarhorn" version="1.1.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Gjallarhorn.Bindable" version="1.0.0-beta5" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>